* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

.navbar {
  background-color: #aad3dc;
/*  border-bottom:  1px solid #469387 ;*/
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
color:  white;
}

.banner {
  margin-top:  50px;
  background-color: #aad3dc;
}

.cardHighlight {
  margin-top: 10%;
  border: none;
  border-left: 5px solid #469387;
}

.error {
  margin-top: 20px;
  background-color: #aad3dc;
}

.card1 {
  min-height: 100%;
}


.profile-section {
  background-color: #f4f5f7;
  border:  1px solid #aad3dc;
  padding:  1%;
}